.todo-button-submit{
    position:relative;
    right:10rem;
    bottom: 2.25rem;
  }

input{
  font-size: 18px;
  text-indent: 15px;
  outline:none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 25rem;
  height: 20px;
  font-family: 'Cinzel', serif;
  color:#4d546b;
  box-shadow: 1px 1px 4px 2px #d3e0ee;
  margin-top: 5rem;
  margin-right:1rem;
}

input:hover{
  box-shadow: 1px 1px 4px 2px #d3e0ee;
  transition: .5s
}

.tasks{
  margin-bottom: 0;
  padding-bottom:0;
  margin-top:3rem;
}


@media screen and (max-width:1940px){

  .todo-button-submit {
    left: 33rem;
    bottom:2.3rem
  }

  input{
    width: 53rem;
  }
}

@media screen and (max-width:1750px){

  input{
    width: 45rem;
    transition: 1s;
    margin-left:10rem;
  }
}

@media screen and (max-width:1300px){
  .todo-button-submit {
    left: 25.5rem;
    bottom:2.3rem
  }
  input{
    margin-left: 9rem;
    width: 30rem;
  }
}

@media screen and (max-width:960px){
  input{
    margin-left:6rem;
  }

  .todo-button-submit {
    left: 21rem;
  }

  .extra{
    display:none;
}
}

@media screen and (max-width:744px){
  input{
   position:relative;
   right:10rem;
  }

  .todo-button-submit {
    left: 28rem;
  }
  
}



@media screen and (max-width:430px){
  input{
    position:relative;
    right: 3rem;
   }
  .todo-button-submit {
    left: 27rem;
  }
  
}